{% extends "layout_unbranded.html" %}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}




{% block pageTitle %}
  Check your connection deadline – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#"
}) }}

{% endblock %}

{% block beforeContent %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Trustees",
      href: "#"
    },
    {
      text: "Contributions, dashboards, data and transfers",
      href: '#'
    }
  ]
}) }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-m">
        Pensions dashboards: initial guidance
      </h1>

      <ol class="govuk-list govuk-list--number guidenavigation">
        <li>
          <a href="/en/trustees/contributions-data-and-transfers/dashboards-guidance">Overview</a>
        </li>
        <li>
          <strong>When your scheme needs to connect with dashboards</strong>
        </li>
        <li>
          <a href="/en/trustees/contributions-data-and-transfers/dashboards-guidance/connecting-to-pensions-dashboards">Connecting to pensions dashboards</a>
        </li>
        <li>
          <a href="/en/trustees/contributions-data-and-transfers/dashboards-guidance/matching-people-with-their-pensions">Matching people with their pensions</a>
        </li>
        <li>
          <a href="/en/trustees/contributions-data-and-transfers/dashboards-guidance/information-to-provide-to-members">Information to provide to members</a>
        </li>
        <li>
          <a href="/en/trustees/contributions-data-and-transfers/dashboards-guidance/failing-to-comply-with-pensions-dashboards-duties">Failing to comply with pensions dashboards duties</a>
        </li>
        <li>
          <a href="/en/trustees/contributions-data-and-transfers/dashboards-guidance/preparing-to-connect-checklist">Preparing to connect: checklist</a>
        </li>
        <li>
          <a href="/en/trustees/contributions-data-and-transfers/dashboards-guidance/stay-in-touch-with-developments">Stay in touch with developments</a>
        </li>                                        
      </ol>
      
      <h2 class="govuk-heading-m">
        When your scheme needs to connect with dashboards
      </h2>

      <p class="govuk-body">
        Pension schemes will connect to dashboards over time according to their size and type. The current proposed deadlines are set out below. Check the final regulations when they are published later this year to confirm your deadline.
      </p>

      <p class="govuk-body">
        Your connection deadline is calculated based on the total number of active and deferred members across all sections of the scheme at the scheme year end that fell between 1 April 2020 and 31 March 2021. You should not include pensioner members in your count. If you did not have 100 or more active and deferred members at scheme year end 2020 to 2021, but you do now, see the section on ‘schemes newly in scope’ below.
      </p>

      <p class="govuk-body">
        Your deadline applies to the whole scheme. If your scheme has multiple sections or your members have additional voluntary contributions (AVCs) in the scheme, these will all need to be connected by the same deadline. You will need to work with your administrators and AVC providers to ensure your whole scheme is connected.
      </p>

      <p class="govuk-body">Your connection deadline will not change if your scheme changes size, unless you fall out of scope of the requirements entirely, for example if all your members become pensioner members.
      </p>     

      <h2 id="check-your-connection-deadline-radios-2" class="govuk-heading-m">
        Check your connection deadline
      </h2>

      <p class="govuk-body">
        This tool is only for trustees or scheme managers of registrable occupational pension schemes with 100 or more active and / or deferred members and non-registrable public service pension schemes, unless the scheme’s main administration is outside Great Britain.
      </p>

      <p class="govuk-body">
        If you have more than one type of scheme, you'll need to run this tool for each type.
      </p>

      <form action="/v002-Radios/your-connection-deadline-RADIOS#your-connection-deadline-radios-2" method="post" novalidate>

        {{ govukRadios({
          name: "scheme-type",
          fieldset: {
            legend: {
              text: "What kind of scheme do you have?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "master-trust",
              text: "Master Trust"
            },
            {
              value: "dc-scheme-used-for-automatic-enrolment",
              text: "DC scheme used for automatic enrolment"
            },
            {
              value: "cdc-scheme",
              text: "CDC scheme"
            },
            {
              value: "db-scheme",
              text: "DB scheme"
            },
            {
              value: "hybrid-scheme-including-master-trusts-and-hybrid-cdcs",
              text: "Hybrid scheme including Master Trusts and hybrid CDCs"
            },
            {
              value: "other-dc-scheme",
              text: "Other DC scheme"
            },
            {
              value: "public-service-pension-scheme",
              text: "Public service pension scheme"
            },
            {
              value: "scheme-for-members-of-the-uk-or-welsh-parliaments",
              text: "Scheme for members of the UK or Welsh Parliaments"
            }
          ]
        }) }}

        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "membership-bands-radios",
          name: "membership-band",
          label: {
            text: "How many active and deferred members did you have at scheme year end between 1 April 2020 and 31 March 2021?",
            classes: "govuk-label--s"
          },
            hint: {
            text: "Do not include pensioner members in your count."
          },
          items: [
            {
              value: "select-membership-band",
              text: "Select membership band",
              selected: true
            },
            {
              value: "over-20,000",
              text: "Over 20,000"
            },
            {
              value: "10,000-19,999",
              text: "10,000 – 19,999"
            },
            {
              value: "5,000-9,999",
              text: "5,000 – 9,999"
            },
            {
              value: "2,500-4,999",
              text: "2,500 – 4,999"
            },
            {
              value: "1,500-2,499",
              text: "1,500 – 2,499"
            },
            {
              value: "1,000-1,499",
              text: "1,000 – 1,499"
            },
            {
              value: "850-999",
              text: "850 – 999"
            },
            {
              value: "750-849",
              text: "750 – 849"
            },
            {
              value: "600-749",
              text: "600 – 749"
            },
            {
              value: "500-599",
              text: "500 – 599"
            },
            {
              value: "400-499",
              text: "400 – 499"
            },
            {
              value: "320-399",
              text: "320 – 399"
            },
            {
              value: "250-319",
              text: "250 – 319"
            },
            {
              value: "195-249",
              text: "195 – 249"
            },
            {
              value: "155-194",
              text: "155 – 194"
            },
            {
              value: "125-154",
              text: "125 – 154"
            },
            {
              value: "100-124",
              text: "100 – 124"
            }
          ]

        }) }}

        {{ govukButton({
          text: "Calculate connection deadline"
        }) }}
      </form>
<h2 class="govuk-heading-m">
        Connection deadlines
      </h2>

      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "Master trusts",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Number of active and deferred members"
          },
          {
            text: "Connection deadline"
          }
        ],
        rows: [
          [
            {
              text: "20,000 or more"
            },
            {
              text: "31 August 2023"
            }
          ],
          [
            {
              text: "10,000 to 19,999"
            },
            {
              text: "30 September 2023"
            }
          ],
          [
            {
              text: "5,000 to 9,999"
            },
            {
              text: "31 October 2023"
            }
          ],
          [
            {
              text: "2,500 to 4,999"
            },
            {
              text: "31 January 2024"
            }
          ],
          [
            {
              text: "1,000 to 2,499"
            },
            {
              text: "29 February 2024"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "DC schemes used for automatic enrolment",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Number of active and deferred members"
          },
          {
            text: "Connection deadline"
          }
        ],
        rows: [
          [
            {
              text: "20,000 or more"
            },
            {
              text: "31 August 2023"
            }
          ],
          [
            {
              text: "10,000 to 19,999"
            },
            {
              text: "30 September 2023"
            }
          ],
          [
            {
              text: "5,000 to 9,999"
            },
            {
              text: "31 October 2023"
            }
          ],
          [
            {
              text: "2,500 to 4,999"
            },
            {
              text: "31 January 2024"
            }
          ],
          [
            {
              text: "1,000 to 2,499"
            },
            {
              text: "29 February 2024"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "CDC schemes",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Number of active and deferred members"
          },
          {
            text: "Connection deadline"
          }
        ],
        rows: [
          [
            {
              text: "All sizes"
            },
            {
              text: "30 April 2024"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "DB schemes, all other DC schemes and all hybrid schemes (including hybrid master trusts and hybrid CDCs)",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Number of active and deferred members"
          },
          {
            text: "Connection deadline"
          }
        ],
        rows: [
          [
            {
              text: "20,000 or more"
            },
            {
              text: "31 August 2023"
            }
          ],
          [
            {
              text: "10,000 to 19,999"
            },
            {
              text: "30 September 2023"
            }
          ],
          [
            {
              text: "5,000 to 9,999"
            },
            {
              text: "31 October 2023"
            }
          ],
          [
            {
              text: "2,500 to 4,999"
            },
            {
              text: "31 January 2024"
            }
          ],
          [
            {
              text: "1,000 to 2,499"
            },
            {
              text: "29 February 2024"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "Public service schemes",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Number of active and deferred members"
          },
          {
            text: "Connection deadline"
          }
        ],
        rows: [
          [
            {
              text: "All sizes"
            },
            {
              text: "30 September 2024"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "Schemes for members of the UK or Welsh Parliaments",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Number of active and deferred members"
          },
          {
            text: "Connection deadline"
          }
        ],
        rows: [
          [
            {
              text: "1,000 or more"
            },
            {
              text: "30 September 2024"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "Schemes with 100 to 999 relevant members",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Number of active and deferred members"
          },
          {
            text: "Connection deadline"
          }
        ],
        rows: [
          [
            {
              text: "20,000 or more"
            },
            {
              text: "31 August 2023"
            }
          ],
          [
            {
              text: "10,000 to 19,999"
            },
            {
              text: "30 September 2023"
            }
          ],
          [
            {
              text: "5,000 to 9,999"
            },
            {
              text: "31 October 2023"
            }
          ],
          [
            {
              text: "2,500 to 4,999"
            },
            {
              text: "31 January 2024"
            }
          ],
          [
            {
              text: "1,000 to 2,499"
            },
            {
              text: "29 February 2024"
            }
          ]
        ]
      }) }}

    </div>
  </div>

{% endblock %}

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({}) }}

{% endblock %}
