
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Pensions Dashboard Connection Deadline Tool
{% endblock %}

{% block header %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pensions Dashboard connection deadline tool
        <span class="govuk-caption-xl">GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Rough prototypes of the tool. There are currently two versions: one using radios for the first question (recommended for accessibility purposes) and one using the select component for the first question.
      </p>

      <p>
        They're responsive, but they've been designed in a one-third column to simulate their likely placement in the right-hand column.
      </p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "This is NOT production-ready code. It is for prototype purposes only."
      }) }}

      <h2 class="govuk-heading-m">Versions</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v002-Radios/check-your-connection-deadline-RADIOS">v002-R with radios for first question</a>
        </li>
        <li>
          <a href="/v002-Select/check-your-connection-deadline-SELECT">v002-S with selector for first question</a>
        </li>
        <li>
          <a href="/v001-Radios/check-your-connection-deadline-RADIOS">v001-R with radios for first question</a>
        </li>
        <li>
          <a href="/v001-Select/check-your-connection-deadline-SELECT">v001-S with selector for first question</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({}) }}

{% endblock %}
